# dependencies (bun install)
node_modules

# lock files (using bun.lock)
package-lock.json
yarn.lock
pnpm-lock.yaml

# output
out
dist
build
*.tgz

# code coverage
coverage
*.lcov
coverage.json
.nyc_output

# logs
logs
_.log
report.[0-9]_.[0-9]_.[0-9]_.[0-9]_.json

# caches
.eslintcache
.cache
*.tsbuildinfo

# vscode
.vscode

# claude
.claude

# Finder (MacOS) folder config
.DS_Store

# environment variable files
.env
.env.local

# project shtuff
.github/copilot-instructions.md
private

# until ready to deploy
.github